{% extends 'base.html.twig' %}

{% block contenu %}
    <h1 class="text-center">Page non trouvée !</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %}

    <p class="text-center">
        La page recherchée n'a pas pu être localisée. Il y a peut être une faute dans l'URL que vous avez choisie ou
        <a href="{{ path('accueil') }}">retourner à l'accueil</a>.
    </p>
{% endblock %}

