{% extends 'base.html.twig' %}

{% block contenu %}
    <h1>La page à laquelle vous voulez accéder ne vous est pas disponible !</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %}

    <p>
        Vous n'avez l'autorisation d'accéder à cette page !
        <a href="{{ path('accueil') }}">Retourner à l'accueil</a>.
    </p>
{% endblock %}

