    <nav id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation" data-spy="affix" data-offset-top="280">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/back">
                    <img src="{{ asset('images/fleche.png')}}" alt="logo du mufopam" class="img-responsive">
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-menubuilder">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Edition Contenus <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/back/flux">News</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/back/brevets">Brevets</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/back/publications/">Publication</a></li>
                        </ul>
                    </li>
                    <li><a href="/back/user/">Edition Utilisateurs</a></li>
                    <li><a href="/back/equipes/">Edition Equipes</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/accueil"><i class="fa fa-unlock fa-1x"></i>Bienvenue {{ app.user.username }} </a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>