/*###########               Html styling            ##############*/
body {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    /*font-family: 'Play', sans-serif;*/
    /*font-family: 'Roboto Slab', serif;*/
}
p{
    line-height: 1.3;
    font-size: 20px;
    font-family: 'Play', sans-serif;
}

/*###########                   navbar                 ##############*/

/***** CSS navbar generator *****/

/* Navbar brand style */
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(0, 0, 0, 1);
    /*border-bottom: 5px solid #337ab7;*/
}
/* Navbar default (link navigation container */
#custom-bootstrap-menu.navbar-default {
    font-size: 20px;
    background-color: #FFFFFF;
    border-width: 0;
    border-radius: 0;

}
/* Navigation links style  */
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(0, 0, 0, 1);
    background-color: #FFFFFF;
    /*border-bottom: 5px solid #337ab7;*/
}
/* Non active : Focus and Over style */
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: #337ab7;
    border-bottom: 5px solid #FFFFFF;
}
.isOpen{
    color: rgba(255, 255, 255, 1);
    background-color: #337ab7;
    border-bottom: 5px solid #337ab7;

}
/* Active : Focus and Over style */
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: #337ab7;

}
/* burger style */
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #337ab7;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,

#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #337ab7;

}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #337ab7;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,

#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}

/***** CSS custom for navbar *****/
.affix {
    top: 0;
    width: 100%;
    z-index: 2;
}
#custom-bootstrap-menu.navbar-default{
    border-bottom: 5px solid #337ab7;
}
.navbar-nav > li > a, .navbar-brand{
    padding-top: 35px;
    font-size: 25px;
}
.navbar a{
    height: 100px;
}
.navbar-brand > img {
    position: relative;
    height: 30px;
}
/*###########                   content                 ##############*/
.row1 {
    margin-top: 30px;
}
.title1 {
    padding-left: 15px;
    padding-bottom: 15px;
}

.title2{
    border-left: 5px solid #337ab7;
    padding-left: 10px;
    margin-left: 10px;
    margin-top:25px;
    margin-bottom:25px;
}

/***** Gradient Left/Bottom for h1 title ****/
.bot-left {
    position: relative;
}
.bot-left:before, .bot-left:after {
    content: ""; position: absolute; bottom: -3px; left: -3px;
}
.bot-left:before {
    top: -3px; width: 8px;
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#337ab7), to(#337ab7));
    background-image: -webkit-linear-gradient(#337ab7, #337ab7);
    background-image: -moz-linear-gradient(#337ab7, #337ab7);
    background-image: -o-linear-gradient(#337ab7, #337ab7); }
.bot-left:after {
    right: -3px; height: 8px;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#337ab7), to(transparent));
    background-image: -webkit-linear-gradient(left, #337ab7, transparent);
    background-image: -moz-linear-gradient(left, #337ab7, transparent);
    background-image: -o-linear-gradient(left, #337ab7, transparent);
}

/***** map ****/
.stickySide.affix {
    position: fixed;
    top: 0;
    width: 880px;
    z-index:2;
}
iframe {
    width: 100%;
    height: 800px;
    border:none;
}
#map{
    margin-top: 110px;
}

/**** icon direction paragraph ****/

td > i{
    margin-right: 10px;
}

/**** panel ****/
.row3{
    margin-top: 50px;
}
.panel-title{
    height:15px;
    margin-top: -10px;
}
.pull-right{
    font-size:15px;
    padding-top: 3px;
}
.panel{
    text-align: justify;
}
.auteurDate{
    font-size: 15px;
    padding-top: 3px;
}
.panel-heading{
    padding-top:5px;
    padding-bottom: 5px;
}

/**** equipes ****/
.borderBlue{
    border: 3px solid #337ab7;
}
.borderOrange{
    border: 3px solid #f0ad4e;
}
.borderRed{
    border: 3px solid #b92c28;
}
.borderGreen{
    border: 3px solid #3e8f3e;
}
.borderPurple{
    border: 3px solid #8959A8;
}
.filtersDisplay, .equipesDisplay{
    padding: 15px;
}
.filterCol{
    border: 1px solid #337ab7;
    height: 1500px;
}
.equipeCol{
    border: 1px solid #337ab7;
    height: 1500px;
}
.equipeRow{
    padding: 5px;
}
.carteEquipe, .topCarte, .bottomCarte, .equipeLogo, .equipeName, .equipeLeftCarte, .equipeRightCarte{
    padding:0 ;
}
.carteContent a {
    text-decoration: none;
    color: inherit;
}
.bottomCarte>.equipeLeftCarte>ul>li>a {
    text-decoration: underline;
}
.carteEquipe h1{
    font-size: 20px;
}
.carteEquipe li {
    list-style: none;
    margin-left: -35px;
    margin-top: 5px;
}
.carteEquipe p{
    font-size: 15px;
}
.carteEquipe{
    font-size: 13px;
    margin: 1px;
    max-width: 495px;
}
.equipeLeftCarte i{
    margin-right: 5px;
}
.equipeLeftCarte h5{
    text-decoration: underline;
}
.equipeRightCarte {
    word-wrap: break-word;
    padding-right: 10px;
}
.equipeRightCarte p{
    display: block;
    width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.form-group{
    padding-top: 5px;
    text-align: right;
}
/************Brevet****************/
.brevetAreaTaille{
    min-height: 250px!important;
}

/************ formulaire **************/
.groupequipformulaire {
    padding-top: 30px;
}
.equipeLogo{
    max-width: 120px;
    max-height: 120px;
}
/**** Page Details Equipe ****/
.equipeDetail a {
    text-decoration: underline;
    color: inherit;
}
.equipeDetail li{
    list-style: none;
}
.equipeDetail i{
    margin-right: 10px;
    font-size: 15px;
}
.equipeDetailLogo{
    max-width: 300px;
    max-height: 300px;
}
.equipeDetailResume p{
    font-size: 20px;
    line-height: 1.7;
}

/**** footer ****/
footer{
    border-top: 1px solid black;
}
#logowcs{
    max-height:80px;
    max-width:80px;
}
#mentions li {
    margin-top: 20px;
    cursor: pointer;
}
#mentions li:last-child {
    margin-top :0;
    float: right;
}

/**** table ****/
.thtable {
    text-align: center;
    background-color: #337ab7;
    font-size: 25px;
}
.tdtable{
    text-align: center;
    vertical-align: middle !important;
}
.puceaenlever{
    list-style-type:none;
    display: inline-block;
    margin-right: 10px;

}
.boutontable{
    margin-top: 5px;
    width: 100px;
}
.titretable{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    padding-bottom: 10px;
}
.creation{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    list-style-type:none;
}
.table-striped>tbody>tr:nth-child(odd)>td,
tr.found{
    background-color: #DBDBF1;
}

.fa-pencil, .fa-file-text-o{
    text-align: center;
}
.puces{
    min-width: 150px;
}
