{% extends 'base.html.twig' %}

{% block contenu  %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10">
                <h1 class="title1 bot-left">Les brevets de MuFoPAM</h1>
            </div>
            <div class="col-lg-2 filtersDisplay">
                <div id="filter" class="filterCol" data-spy="" data-offset-top="">
                </div>
            </div>
            <div class="col-lg-10 equipesDisplay">
                <div class="row">
                    {% for key, brevet in brevets %}
                        <div class="col-lg-6">
                            <div class="panel-assembly">
                                <div class="panel panelBrevet {{ random(['panel-primary','panel-success','panel-warning','panel-default','panel-info','panel-danger']) }}">
                                    <div class="panel-heading divTitre">
                                        <div class="panel-title">
                                            <h4>Brevet</h4>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        {{ brevet.brevet| truncate(200,true,' (...) ') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
