{% extends 'base.html.twig' %}

{% block contenu  %}
    <div class="container">
        <div class="row">
            <div class="col-lg-1">

            </div>
            <div class="col-lg-10 borderRed">
                <div class="paddingActu">
                    <p class="text-center"> {{ fluxes.datePublication | date('d-m-Y')}}</p>
                    <h1>{{ fluxes.titre }}</h1>
                    <p >{{ fluxes.contenu }}</p>
                </div>
            </div>
        </div>
    </div>
{%  endblock  %}