<footer class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
            <!--partie modal mentions légales  -->
            <ul id="mentions" class="text-center list-inline">
                <li>
                    <a  data-toggle="modal" data-target="#modalMentions">Mentions légales</a>
                    <div id="modalMentions" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalDesMentionsLegales">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content ">
                                <p> <b>Mentions légales </b> <br>
                                    CNRS – Centre National de
                                    la Recherche Scientifique <br/>
                                    3, rue Michel-Ange <br/>
                                    75794 Paris cedex 16 – France <br/>
                                    Téléphone : +33 1 44 96 40 00 <br/>
                                    Télécopie : +33 1 44 96 53 90 <br/> <br>
                                    Directeur de la publication : Céline LANDON  <br/> <br>
                                    Hébergeur : CNRS
                                    (nom, dénomination sociale, adresse, téléphone, télécopie) <br/> <br>
                                     <b>conditions d’utilisation </b> : <br/> <br>
                                    <b>Mention relative à la déclaration CNIL du site CNRS </b> : <br/>
                                    « Ce site web, qui comporte des informations nominatives concernant les personnels du CNRS et de ses
                                    partenaires, a fait l’objet d’une déclaration auprès de la CNIL (avis n° 650931). Conformément à la loi n° 78-17
                                    du 6 janvier 1978, relative à l’Informatique, aux Fichiers et aux Libertés (article 38, 39, 40), vous disposez d’un
                                    droit d’accès, de rectification et de
                                    suppression des données vous concern
                                    ant, en ligne sur ce site. Pour exercer
                                    ce droit, vous pouvez vous adresser au webmaster » <br/> <br>
                                    <b>Clause de non responsabilité </b> : <br/>
                                    « La responsabilité du CNRS ne peut, en aucune manière, être engagées quant au contenu des informations
                                    figurant sur ce site ou aux conséquences pouvant résulter de leur utilisation ou interprétation » <br/> <br>
                                    <b>Propriété intellectuelle </b> : <br/>
                                    « Le site du CNRS est une œuvre de création, propriét
                                    é exclusive du CNRS, protégé par la législation française
                                    et internationale sur le droit de la propriété intellectuelle. Aucune reproduction ou représentation ne peut être
                                    réalisée en contravention avec les droits du CNRS issus de la législation susvisée » <br/> <br>


                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a  data-toggle="modal" data-target="#modalContact">Contact</a>
                    <div id="modalContact" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalDuContact">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <p>
                                    Contact : <br/>
                                    Téléphone : +33 1 44 96 40 00 <br/>
                                    Télécopie : +33 1 44 96 53 90 <br/>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a  data-toggle="modal" data-target="#localize">Siège</a>
                    <div id="localize" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLocaliserNous">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <p>
                                    CNRS – Centre National de
                                    la Recherche Scientifique <br/>
                                    3, rue Michel-Ange <br/>
                                    75794 Paris cedex 16 – France <br/>
                                    Téléphone : +33 1 44 96 40 00 <br/>
                                    Télécopie : +33 1 44 96 53 90 <br/> <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <!--image logo ecole -->
                    <a href="http://www.wildcodeschool.fr" target="_blank"><img id="logowcs" src="{{ asset('images/logo_wcs_h.png') }}" alt="logo WCS" class="img-responsive"></a>
                </li>
            </ul>
        </div>
    </div>
</footer>