<div class="panel-heading">
    <div class="panel-title">
        <h4>{{ fluxes.0.typeflux | upper}} <span class="pull-right auteurDate">Date de parution : {{ fluxes.0.datepublication |date ('d-m-Y') }}</span></h4>
    </div>
</div>
<div class="panel-body">
    <div>
    {{ fluxes.0.contenu | raw }}
    </div>
    <a class="aNews" href="{{ path('actu_detail', { 'id': fluxes.0.id }) }}"><button type="button" class="btn btn-info">En savoir plus</button></a>
</div>
