<p><b>Mentions légales </b> <br/>
    CNRS – Centre National de
    la Recherche Scientifique <br/>
    3, rue Michel-Ange <br/>
    75794 Paris cedex 16 – France <br/>
    Téléphone : +33 1 44 96 40 00 <br/>
    Télécopie : +33 1 44 96 53 90 <br/>
    Directeur de la publication : Céline LANDON  <br/>
    Hébergeur :  CNRS – Centre National de
    la Recherche Scientifique <br/>
    3, rue Michel-Ange <br/>
    75794 Paris cedex 16 – France <br/>
    Téléphone : +33 1 44 96 40 00 <br/>
    Télécopie : +33 1 44 96 53 90 <br/>
    <b>conditions d’utilisation </b> : <br/>
    <b>Mention relative à la déclaration CNIL du site CNRS </b> : <br/>
    « Ce site web, qui comporte des informations nominatives concernant les personnels du CNRS et de ses
    partenaires, a fait l’objet d’une déclaration auprès de la CNIL (avis n° 650931). Conformément à la loi n° 78-17
    du 6 janvier 1978, relative à l’Informatique, aux Fichiers et aux Libertés (article 38, 39, 40), vous disposez d’un
    droit d’accès, de rectification et de
    suppression des données vous concern
    ant, en ligne sur ce site. Pour exercer
    ce droit, vous pouvez vous adresser au webmaster » <br/>
    <b>Clause de non responsabilité </b> : <br/>
    « La responsabilité du CNRS ne peut, en aucune manière, être engagées quant au contenu des informations
    figurant sur ce site ou aux conséquences pouvant résulter de leur utilisation ou interprétation » <br/>
    <b>Propriété intellectuelle </b> : <br/>
    « Le site du CNRS est une œuvre de création, propriét
    é exclusive du CNRS, protégé par la législation française
    et internationale sur le droit de la propriété intellectuelle. Aucune reproduction ou représentation ne peut être
    réalisée en contravention avec les droits du CNRS issus de la législation susvisée » <br/>

    <b>Le site a été réalisé par les élèves de la WildCodeSchool d'Orléans</b><br/>
    <a href="https://github.com/MkLHX"> Mickael LEHOUX</a><br/>
    <a href="https://github.com/jpilosel"> Joel PILOSEL</a><br/>
    <a href="https://github.com/ludovicmoreau"> Ludovic MOREAU</a><br/>
    <a href="https://github.com/louri45"> Louis RICHARD</a><br/>
</p>