    <nav id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation" data-spy="affix" data-offset-top="280">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/back/flux">
                    <img src="{{ asset('images/fleche.png')}}" alt="logo du mufopam" class="img-responsive">
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-menubuilder">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown {% if app.request.attributes.get('_route') in ['flux_index','flux_new','flux_edit','flux_show','flux_delete','brevets_index','brevets_new','brevets_edit','brevets_show','brevets_delete','publications_index','publications_new','publications_edit','publications_show','publications_delete'] %} active {% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Edition Contenus <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="text-center {% if app.request.attributes.get('_route') in ['flux_index','flux_new','flux_edit','flux_show','flux_delete'] %} active {% endif %}"><a href="/back/flux">Actualités</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="text-center {% if app.request.attributes.get('_route') in ['brevets_index','brevets_new','brevets_edit','brevets_show','brevets_delete'] %} active {% endif %}"><a href="/back/brevets">Brevets</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="text-center {% if app.request.attributes.get('_route') in ['publications_index','publications_new','publications_edit','publications_show','publications_delete'] %} active {% endif %}"><a href="/back/publications">Publications</a></li>
                        </ul>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') in ['register'] %} active {% endif %}"><a href="/register">Edition Utilisateurs</a></li>
                    <li class="{% if app.request.attributes.get('_route') in ['equipe_index','equipe_new','equipe_edit','equipe_show','equipe_delete'] %} active {% endif %}"><a href="/back/equipes">Edition Equipes</a></li>
                    <li class="text-center {% if app.request.attributes.get('_route') in ['keywords_index','keywords_index','keywords_edit','keywords_show','keywords_delete'] %} active {% endif %}"><a href="/back/keywords"> Edition Mot clés</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout">{% if app.user.username is defined %} {{app.user.username }} {% endif %}  <i class="fa fa-unlock fa-1x"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>