{% block contenu %}

    <div id="content" class="fixNav container-fluid">
        <!-- #################  Phrase d'accroche du site ################# -->
        <div class="row row1">
            <div class="col-xs-12 col-lg-10">
                <h1 class="title1 bot-left">GDR3625 MuFoPAM « MultiFonction des Peptides AntiMicrobiens »</h1>
                <p>Le Groupe de recherche MuFoPAM regroupe une quarantaine d'équipes de recherche française, c'est-à-dire environ 200 chercheurs, enseignant-chercheurs, Ingénieurs, techniciens, doctorants et post doctorants, reparties sur tout le territoire et affiliées au CNRS, à l'INRA, l'INSERM, au MNHN, aux Universités, au CEA, ...</p>
            </div>
        </div>
        <div class="row row2">
            <!-- ################# image carte interactive ################# -->
            <div class="col-lg-8 " id="module_map">
                <h2>Voici la Carte interactive de nos equipes !</h2>
                <div id="map">
                    <iframe src="http://umap.openstreetmap.fr/fr/map/mufopam_104845?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=false&searchControl=false&tilelayersControl=false&embedControl=null&datalayersControl=false&onLoadPanel=undefined&captionBar=false&datalayers=251139&fullscreenControl=false&measureControl=false&editinosmControl=false#6/38/2">
                    </iframe>
                    <p><a href="http://umap.openstreetmap.fr/fr/map/mufopam_104845" target="_blank">Voir en plein écran</a></p>
                </div>
            </div>
            <!-- ################# Panneau latéral droit ################# -->
            <div class="row col-lg-4" id="panneau_lateral">
                <div class="panel-assembly">
                    <div class="panel panel-primary ">
                        {{ render(controller('Gdr3625BackofficeBundle:Flux:findLast')) }}
                    </div>
                </div>
                <div class="">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default panel-primary">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        PREAMBULE
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p>L’idée de créer un groupe de recherche (GDR), dont le nom proposé est « MultiFonction des Peptides AntiMicrobiens » avec l’acronyme « GDR-MuFoPAM » est née lors de la réunion annuelle de la toute jeune Société Française de Peptides Antimicrobiens (SFPAM) en février 2012. Cette initiative menée en étroite collaboration avec le Président de la SFPAM, Djamel Drider, a muri au cours du congrès international AMP2012 (Third International Symposium on AntiMicrobial Peptides) organisé par la SFPAM à Lille.</p>
                                    <p>Après la création de la SFPAM fin 2009, ce GDR a pour objectif d’œuvrer pour le rapprochement des acteurs impliqués dans cette thématique en France et pour son rayonnement international. En particulier, ce GDR a pour vocation de fédérer les équipes de recherche qui s'intéressent d'une part à la structure et l'activité antimicrobienne des peptides d ́origine naturelle ou synthétique et d'autre part, aux multiples fonctions de ces peptides ainsi que leurs valorisations socio-économiques.</p>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-primary">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        OBJECTIFS PRIORITAIRES
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <ul>
                                        <li><p>Fédérer les équipes de recherche françaises qui s’intéressent à la multifonctionnalité des peptides antimicrobiens.</p></li>
                                        <li><p>Favoriser les rencontres et inciter les synergies entre les différentes disciplines afin de permettre l'émergence de projets innovants et transversaux de recherche pluridisciplinaires à l'échelle nationale et internationale afin de répondre aux divers appels à projets.</p></li>
                                        <li><p>Contribuer à la réflexion sur les activités à mener et à susciter en France en fonction du contexte international du développement et de la valorisation de la multifonctionnalité des PAMs.</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-primary">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        DIRECTION
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th><h3>Directeur</h3> <h4>Céline LANDON - CNRS Orléans</h4></th>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-envelope-o" aria-hidden="true"></i>celine.landon@cnrs-orleans.fr</td>
                                                <td><i class="fa fa-phone" aria-hidden="true"></i>02.38.25.55.74</td>
                                            </tr>
                                            <tr>
                                                <th><h3>Directeur Adjoint</h3> <h4>Mohamed AMICHE - INSERM Créteil</h4></th>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-envelope-o" aria-hidden="true"></i>Mohamed.AMICHE@inserm.fr</td>
                                                <td><i class="fa fa-phone" aria-hidden="true"></i>01.49.81.36.66</td>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-primary">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        COMITE DE PILOTAGE
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                    <p>Le comité scientifique a été composé de façon à représenter l’ensemble des savoir-faire sur les PAMs, qui constituent les racines du GDR-MuFoPAM, et toutes les composantes que nous souhaitons développer au sein de ce GDR.</p>
                                    <a  data-toggle="modal" data-target="#modalComite">Scientifiques du Comité de pilotage</a>
                                    <div id="modalComite" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modale du comité de pilotage">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>Chercheurs</th>
                                                            <th>Savoir-faire</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>Mohamed AMICHE (Créteil)</td>
                                                            <td>PAMs et activité anticancéreuse</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Nathalie BOULANGER (Strasbourg)</td>
                                                            <td>PAMs et propriétés immuno-modulatrices</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Philippe BULET (Archamps)</td>
                                                            <td>PAMs et Valorisation</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Delphine DESTOUMIEUX-GARZON (Montpellier)</td>
                                                            <td>PAMs et propriétés immuno-modulatrices</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Djamel DRIDER (Lille)</td>
                                                            <td>PAMs et Valorisation</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Nicolas GUYOT (Nouzilly)</td>
                                                            <td>PAMs et fonctions émergentes</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Katy JEANNOT (Besançon)</td>
                                                            <td>PAMs et résistance</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Thierry JOUENNE (Rouen)</td>
                                                            <td>PAMs et Biofilms, Valorisation</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Céline LANDON (Orléans)</td>
                                                            <td>PAMs et fonctions émergentes</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Sylvie REBUFFAT (Paris)</td>
                                                            <td>PAMs et fonctions émergentes</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}