
.navbar-brand{
    margin-top: 21px;

}
.navigation{
    position: sticky;
    z-index:4;
    top:0;
}
.nav{
    height:119px;
}
#logoMufo{
    max-height: 70px;
    max-width: 250px;
    margin-top:15px;
    position: relative;

}
.navbar-nav li{
    font-size:25px;
    padding-right:20px;
    padding-top: 40px;
}
.nav{
    padding-left: 80px;
}
.logoconnexion{
    height:20px;
    width:15px;
}
.panel-assembly{
    margin-top: 60px;

}
.panel-title{
     text-align: center;
 }
.panel{
    text-align: justify;
}

footer{
    border-top: 1px solid black;
    text-align: left;
}
.logowcs{
    float: right;
    margin-top: -70px;
}
.mentions{
    margin-top: 20px;
    cursor: pointer;
}
