/*##########       banniere | header       ##########*/

nav{
    border-bottom: 1px solid black;
}
/*##########       navbar       ##########*/
nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.navbar-brand {
    padding: 0;
}
.example3 .navbar-brand>img {
    padding: 7px 15px;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 125px;
    height: 125px;
    padding-top: 0;
}
#logoMufo {
    height: 120px;
}
/*###########       content       ##############*/
#content {
    margin-top: 80px;
}
iframe {
    width: 100%;
    height: 800px;
    border:none;
}
#map{
    margin-top: 150px;
}

/*##########       panel       ##########*/
.panel-assembly{
    margin-top: 60px;
}

.panel{
    text-align: justify;
}
/*##########       footer       ##########*/
footer{
    border-top: 1px solid black;
}
#logowcs{
    max-height:80px;
    max-width:80px;
}
#mentions li {
    margin-top: 20px;
    cursor: pointer;
}
#mentions li:last-child {
    margin-top :0;
    float: right;
}