
.navbar-brand{
    margin-top: -7px;
}

.navbar-collapse{
    border-bottom:1px solid;
    
}
.panel-assembly{
    margin-top: 60px;
}
.panel-title{
     text-align: center;
 }
.panel{
    text-align: justify;
}

footer{
    border-top: 1px solid black;
    text-align: left;
}
.logowcs{
    float: right;
    margin: 0;
}
.mentions{
    margin-top: 20px;
    cursor: pointer;
}
